
<head>
 
    <title>Legal advice for business and personal</title>
</head>
<body class="vh-100">
 
    <div class="container-fluid bg-light h-50 d-none d-xl-block py-lg-3" id="mentor-banner" >
        <div class="row align-middle">
            <div class="col-12">
                <h1 class="text-center fw-bold" style="font-size: 4rem!important;">Legal advice for business and personal </h1>
            </div>
        </div>
    </div>

<div class="container-fluid">
    <div class="row">
        <div class="col-3 text-light py-5 d-none d-xl-block" style="background-color: #374485;">
            
            <ul style="list-style-type: none;">
                <li class="fs-4 my-3">
                    <a class="text-decoration-none text-light" href="Ourmentor.html">All</a>
                </li>
                <li class="fs-4 my-3">
                    <a class="text-decoration-none text-light" href="peermentor.html">Peer mentors for high school and college students</a>
                </li>
                <li class="fs-4 my-3">
                    <a class="text-decoration-none text-light" href="ielts.html">IELTS and Scholarship Preparation</a>
                </li>
                <li class="fs-4 my-3">
                    <a class="text-decoration-none text-light" href="studyabroad.html">Study abroad and choosing college</a>
                </li>
                <li class="fs-4 my-3">
                    <a class="text-decoration-none text-light" href="leader.html">Leadership and team management</a>
                </li>
                <li class="fs-4 my-3">
                    <a class="text-decoration-none text-light" href="businessnpersonal.html">Legal advice for business and personal </a>
                </li>
                <li class="fs-4 my-3">
                    <a class="text-decoration-none text-light" href="choosing career.html">Career development and career prospect </a>
                </li>
                <li class="fs-4 my-3">
                  <a class="text-decoration-none text-light" href="Foundingbusiness.html">Founding and running successful business</a>
              </li>
            </ul>
        </div>
        <div class="py-3 text-center d-xl-none" style="background-color: rgb(218 ,233, 238);" >
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                  MENTORSHIP CATEGORY
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><a class="dropdown-item" href="Ourmentor.html">All</a></li>
                    <li><a class="dropdown-item" href="peermentor.html">Peer mentors for high school and college students</a></li>
                    <li><a class="dropdown-item" href="ielts.html">IELTS and scholarship Preparation</a></li>
                    <li><a class="dropdown-item" href="studyabroad.html">Study abroad and choosing college</a></li>
                    <li><a class="dropdown-item" href="leader.html">Leadership and team management</a></li>
                    <li><a class="dropdown-item" href="businessnpersonal.html">Legal advice for business and personal </a></li>
                    <li><a class="dropdown-item" href="choosing career.html">Career development and career Prospect</a></li>
                    <li><a class="dropdown-item" href="Foundingbusiness.html">Founding and running successful business</a></li>
                </ul>
              </div>
        </div>
        <div class="col-xl-9 col-12 py-0 py-lg-5" style="background-color: rgb(218 ,233, 238);">
            <div class="d-flex align-items-center justify-content-evenly flex-wrap">
              
                
                  <div class="card m-3 " style="width: 18rem;height:30rem;">
                  <a href="">
                    <img src="images/KST Legal - SaSa Nyunt.jpg" class="card-img-top" alt="...">
                  </a>
                    <div class="card-body">
                      <p class="fw-bold fs-4">Sa Sa Nyunt</p>
                      <p class="fs-5">Founder and Managing Partner at KST Legal <br>ex-KPMG and Baker McKenzie</p>
                    </div>
                  </div>
                  
                  
            </div>
        </div>
       
    </div>
</div>




</body>
