
<head>
    
    <title>Resource Library</title>
</head>

<body class="vh-100">


      <div class="container-fluid bg-light h-50 d-none d-xl-block py-lg-3" id="mentor-banner" >
        <div class="row align-middle">
            <div class="col-12">
                <h1 class="text-center fw-bold" style="font-size: 4rem!important;">RESOURCE LIBRARY</h1>
                <p class="text-center">This is a collection of resources and publications produced by ELEVATE.</p>
            </div>
        </div>
    </div>


    <div class="containerfluid" style="background-color: rgb(218 ,233, 238);">
        <div class="row">
            <div class="col-12 d-flex align-items-center justify-content-evenly py-5 flex-wrap" >
                <div class="card mb-4" style="width: 18rem; box-shadow: 5px 10px 18px #888888;">
                    <img src="https://static01.nyt.com/images/2020/09/16/books/OBAMA2/OBAMA2-mediumSquareAt3X.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">A Promised Land</h5>
                      <p class="card-text">A Promised Land is a memoir by Barack Obama, the 44th President of the United States from 2009 to 2017.</p>
                      <a href="https://drive.google.com/file/d/1MQXoUjnVjFfVxi39bdXdMf-E5BcGxNux/view?usp=sharing" target="_blank" class="btn btn-primary">Download PDF</a>
                    </div>
                  </div>
                  <div class="card mb-4" style="width: 18rem; box-shadow: 5px 10px 18px #888888;">
                    <img src="images/academic.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">The academic hustle</h5>
                      <p class="card-text"> Thrive with this ultimate college bookReaders of Confessions of a Scholarship Winner and the Fiske Guide to Colleges ...</p>
                      <a href="https://drive.google.com/file/d/11vERRXITZlpVNHQa7MKnIEUZ-wP4qm4x/view?usp=sharing" target="_blank" class="btn btn-primary">Download PDF</a>
                    </div>
                  </div>
                  <div class="card mb-4" style="width: 18rem; box-shadow: 5px 10px 18px #888888;">
                    <img src="images/complete-guide.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">The complete guide to gap year</h5>
                      <p class="card-text">This is the go-to book for anyone considering a year to re-charge, to follow a passion, to become ...</p>
                      <a href="https://drive.google.com/file/d/12YFq2YeLaOGz518zElnYAak6fz4kraIj/view?usp=sharing" target="_blank" class="btn btn-primary">Download PDF</a>
                    </div>
                  </div>
                  <div class="card mb-4" style="width: 18rem; box-shadow: 5px 10px 18px #888888;">
                    <img src="https://d2h1pu99sxkfvn.cloudfront.net/b0/13727598/736401877_1b0d1337d2a14cefa56ecfbded0b695d/P0.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">The defining decade</h5>
                      <p class="card-text">Contemporary culture tells us the twentysomething years don't matter. Clinical psychologist Dr Meg Jay argues that this could.... </p>
                      <a href="https://drive.google.com/file/d/1nAiN1WJBogKomXXyxWgd0yAZ5nEUuHAI/view?usp=sharing" target="_blank" class="btn btn-primary">Download PDF</a>
                    </div>
                  </div>
            </div>
        </div>
    </div>


  
</body>
