{% extends 'base.html' %}

<head>
    {% block head %}

    <title>Blog 1</title>

    {% endblock %}

</head>
<body>
    {% block body %}

      
     <div class="container">
         <div class="row">
             <div class="col-12 ">
                 <h1 class="text-center p-2 p-lg-5" style="line-height: 50px;">Elevate  လူမှုအကျိုးပြုစီးပွားရေးလုပ်ငန်းအားမိတ်ဆက်ခြင်း </h1>
                 <span class="fs-5">By: Elevate
                     <br>
                     Date: 26/6/2021
                 </span>
                 
                 <img src="static/images/blogbg.png" width="100%"  alt="">
                 <p class="mt-5" id="p">မြန်မာနိုင်ငံရှိလူငယ်များ မိမိတို့ရင်ဆိုင်နေရသော ပညာရေး၊ ပေါင်းသင်းဆက်ဆံရေး၊ ကိုယ်ရေးကိုယ်တာ အခက်အခဲပြဿနာများ၊ မိမိတို့အနာဂါတ်အတွက်ရွေးချယ်မှုများ စသည်တို့နှင့် ပတ်သက်၍ ဆွေးနွေးတိုင်ပင ်အကြံဉာဏ်တောင်းခံမှုများပြုလုပ်နိုင်ရန် Elevate Mebtorship လူမှုစီးပွားရေးလုပ်ငန်းမှ နယ်ပယ်စုံက ပညာရှင်များ၊ အတွေ့အကြုံရင့်ကျက်အောင်မြင်သူများနှင့်ချိတ်ဆက်ပေးသည့်ဝန်ဆောင်မှုကိုပံ့ပိုးဆောင်ရွက် ပေးသွားပါမည်။ </p>
                 <p id="p">အသက်ဆယ့်နှစ်ဆယ့်သုံး ဆယ်ကျော်သက်အစောပိုင်း လူငယ်အရွယ်မှ တက္ကသိုလ် ကျောင်းသားများ အရွယ်အလယ် လုပ်ငန်းခွင်အတွင်းရှိလူငယ်များအဆုံး တစ်နိုင်ငံလုံးမှလူငယ်များ ရင်ဆိုင်နေရသော အခက်အခဲပြဿနာ စိန်ခေါ်မှုများကို ရင်ဆိုင်ဖြေရှင်းခြင်းနှင့်အနာဂါတ် ရွေးချယ်မှုများ ပြုလုပ်ရာတွင် လိုအပ်သောအကြံဉာဏ်များကိုမှန်ကန်သောသူများဆီမှရရန်အတွက် ပံ့ပိုးပေးဖို့ရည်ရွယ်ပါသည် ။ နယ်ပယ်မျိုးစုံမှ ကိုယ့်အစွမ်းအစနှင့်ကြိုးစားအောင်မြင်ပြီးသား အတွေ့အကြုံရင့်ကျက်ပြီးသား ပုဂ်ဂိုလ်များ၊ ပညာရှင်များ နှင့် အကြံဉာဏ်လိုအပ်နေသောလူငယ်များကိုချိတ်ဆက်ပေးမည့်နေရာ(Platform)တစ်ခုဖြစ်ပါသည်။                 </p>
                 <p id="p">လမ်းညွန်သူ(Mentor) များနှင့် တွေ့ဆုံဆွေးနွေးရာတွင် တစ်ဦးချင်း၊ အဖွဲ့လိုက်၊ အသင်းလိုက်နှင့် အချင်းအချင်း( Peer ) တွေ့ဆုံဆွေးနွေးမှုပုံစံများ စီစဉ်ထားသည်။ လက်ရှိတွင် online မှတဆင့်ဆွေးနွေးနိုင်ရန်စီစဉ်ထားပြီး အင်တာနက်ရှိလျင်မည်သည့်နေရာတွင်မဆို တွေ့ဆုံဆွေးနွေးမှုပြုနိုင်မည်ဖြစ်သည်။ ကိုဗစ်ကာလအတွင်း online မှတဆင့် တွေ့ဆုံမှုကျယ်ပြန့်လာခြင်းသည် ဤချိတ်ဆက်မှုအတွက် အားသာချက်တစ်ခုဖြစ်သည်။ ထိုအားသာချက်ကိုအသုံးပြုပြီး လူငယ်များနှင် အကြံဉာဏ်ကောင်းပေးနိုင်သောပညာရှင်များကြား ပိုမိုလျင်မြန်ထိရောက်စွာ ချိတ်ဆက်မိစေရန်ကြိုးစားဆောင်ရွက်နေပါသည်။ 

                </p>
                <p id="p">
                    "လူငယ်တွေတစ်ခုခု တိုင်ပင်ချင်တာ၊ ပညာရေးနဲ့ပတ်သက်ပြီးဖြစ်စေ၊ ကိုယ်ရေးကိုယ်တာ မိသားစု မိဘနဲ့ဆက်ဆံရေးဖြစ်စေ၊ လုပ်ငန်းခွင်ဝင်ရင်လည်း လုပ်ငန်းနဲ့ပတ်သက်တာဖြစ်စေ ကိုယ့်ခြေ ကိုယ့်လက်ကိုယ့်အစွမ်းအစနဲ့ကြိုးစားအောင်မြင်နေတဲ့၊ ဒီခရီးကိုဖြတ်သန်းပြီးသား လူတွေကပဲ တဆင့်လမ်းညွှန်ပေးတာမျိုးပေါ့" Elevate  လုပ်ငန်း၏ တည်ထောင်သူတစ်ဦးဖြစ်သူ ကိုကျော်ဝင်းထွန်း(Andrew ) ကပြောသည်။ " လူငယ်တွေ မေးစရာလူက မိဘရှိတယ်၊ အပေါင်းအသင်း မိတ်ဆွေသူငယ်ချင်းတွေရှိမယ်၊ အဲ့တော့ဘောင်ကကျဉ်းတယ်။ မေးနိုင်တဲ့သူကအကန့်အသတ်ရှိတယ်။ သူတို့တွေ အားကျတတ်အောင်၊ လမ်းညွန်မှုတွေရအောင်ချိတ်ပေးချင်တာ" ဟု၎င်းကဆိုသည်။ 
                </p>
                <p id="p">
                        Elevateလူငယ်ဘဝလမ်းညွှန်လူငယ်ဘဝလမ်းညွန်းဝန်ဆောင်မှုလုပ်ငန်းသည် လက်ရှိမြန်မာနိုင်ငံအတွင်း လူငယ်များနှင့်အတွေ့အကြုံရင့်သူများ၊ကြားတွင် အချိတ်အဆက်ကွာဟနေမှုကို ဖြည့်ဆည်းပေးပြီး လူငယ်များရင်ဆိုင်နေရသည့် အခက်အခဲပြဿနာ စိန်ခေါ်မှုများကို ဖြေရှင်းရာတွင် ကူညီထောက်ပံ့ပေးရန် ရည်ရွယ်ပြီး တည်ထောင်ထားသော လူမှုအကျိုးပြုစီးပွားရေးလုပ်ငန်ဖြစ်ပါသည်။ Elevate ကို၂၀၂၀ တွင် စတင်တည်ထောင်ခဲ့ပြီး လက်ရှိတွင်အလှုုရှင်များ၏ငွေကြေး၊ Mentee များ၏ ထည့်သွင်းကြေးနှင့် နှင့် ရပ်တည်လည်ပတ်လျက်ရှိသည်။
                </p>
                <p id="p">
                    Elevate လူမှုအကျိုးပြုစီးပွားရေးလုပ်ငန်းနှင့်ပတ်သက်ပြီး ထပ်မံသိရှိလိုသည်များရှိပါက Andrew Kyaw (founder) သို့ ၀၉၂၅၅၃၀၀၀၈၃ နှင့် hello@elevatemm.org သို့ဆက်သွယ်မေးမြန်းနိုင်ပါသည်။
                </p>
                
             </div>
         </div>
     </div>
     {% endblock %}

</body>
