{% extends 'base.html' %}
<head>
  {% block head %}
    <title>Peer mentors for high school and college students</title>
    {% endblock %}
</head>
<body class="vh-100">
  {% block body %}
    <div class="container-fluid bg-light h-50 d-none d-xl-block py-lg-3" id="mentor-banner" >
        <div class="row align-middle">
            <div class="col-12">
                <h1 class="text-center fw-bold" style="font-size: 4rem!important;">Peer mentors for high school and college students</h1>
            </div>
        </div>
    </div>

<div class="container-fluid">
    <div class="row">
        <div class="col-3 text-light py-5 d-none d-xl-block" style="background-color: #374485;">
            
            <ul style="list-style-type: none;">
                <li class="fs-4 my-3">
                    <a class="text-decoration-none text-light" href="/ourmentor">All</a>
                </li>
                <li class="fs-4 my-3">
                    <a class="text-decoration-none text-light" href="/peermentor">Peer mentors for high school and college students</a>
                </li>
                <li class="fs-4 my-3">
                    <a class="text-decoration-none text-light" href="/ielts">IELTS and Scholarship Preparation</a>
                </li>
                <li class="fs-4 my-3">
                    <a class="text-decoration-none text-light" href="/studyabroad">Study abroad and choosing college</a>
                </li>
                <li class="fs-4 my-3">
                    <a class="text-decoration-none text-light" href="/leader">Leadership and team management</a>
                </li>
                <li class="fs-4 my-3">
                    <a class="text-decoration-none text-light" href="/businessnpersonal">Legal advice for business and personal </a>
                </li>
                <li class="fs-4 my-3">
                    <a class="text-decoration-none text-light" href="/choosingcareer">Career development and career prospect </a>
                </li>
                <li class="fs-4 my-3">
                  <a class="text-decoration-none text-light" href="/foundingbusiness">Founding and running successful business</a>
              </li>
            </ul>
        </div>
        <div class="py-3 text-center d-xl-none" style="background-color: rgb(218 ,233, 238);" >
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                  MENTORSHIP CATEGORY
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><a class="dropdown-item" href="/ourmentor">All</a></li>
                    <li><a class="dropdown-item" href="/peermentor">Peer mentors for high school and college students</a></li>
                    <li><a class="dropdown-item" href="/ielts">IELTS and scholarship Preparation</a></li>
                    <li><a class="dropdown-item" href="/studyabroad">Study abroad and choosing college</a></li>
                    <li><a class="dropdown-item" href="/leader">Leadership and team management</a></li>
                    <li><a class="dropdown-item" href="/businessnpersonal">Legal advice for business and personal </a></li>
                    <li><a class="dropdown-item" href="/choosingcareer">Career development and career Prospect</a></li>
                    <li><a class="dropdown-item" href="/foundingbusiness">Founding and running successful business</a></li>
                </ul>
              </div>
        </div>
        <div class="col-xl-9 col-12 py-0 py-lg-5" style="background-color: rgb(218 ,233, 238);">
            <div class="d-flex align-items-center justify-content-evenly flex-wrap">
              
               
                  <div class="card m-3 " style="width: 18rem;height:30rem;">
                  <a href="">
                    <img src="static/images/masane;einwe-portrait.jpg" class="card-img-top" alt="...">
                  </a>
                    <div class="card-body">
                      <p class="fw-bold fs-4">Sane Lei Nwe</p>
                      <p class="fs-5">Master student of Public Policy at Hertie School of Governance, Germany</p>
                    </div>
                  </div>
                  <div class="card m-3 " style="width: 18rem;height:30rem;">
                  <a href="">
                    <img src="static/images/winshweyee.jpg" class="card-img-top" alt="...">
                  </a>
                    <div class="card-body">
                      <p class="fw-bold fs-4">Win Shwe Yee</p>
                      <p class="fs-5">Economics student at College of San Mateo</p>
                    </div>
                  </div>
                  
            </div>
        </div>
       
    </div>
</div>



{% endblock %}
</body>
