{% extends 'base.html' %}
<head>
  {% block head %}
    <title>Senior leadership and staffs</title>
    {% endblock %}
</head>
<body class="vh-100">
  {% block body %}
    <div class="container-fluid bg-light h-50 d-none d-xl-block py-lg-3" id="mentor-banner" >
        <div class="row align-middle">
            <div class="col-12">
                <h1 class="text-center fw-bold" style="font-size: 4rem!important;">Senior leadership and staffs</h1>
            </div>
        </div>
    </div>




<div class="container-fluid">
  <div class="row">
      
    
      <div class=" col-12 py-0 py-lg-5" style="background-color: rgb(218 ,233, 238);">
          <div class="d-flex align-items-center justify-content-evenly flex-wrap">
            
           
          
                <div class="card m-5" id="and" style="width: 18rem;height:30rem;">
                <a href="">
                  <img src="static/images/andrew.jpg" class="card-img-top" alt="...">
                </a>
                  <div class="card-body">
                    <p class="fw-bold fs-4">Andrew Kyaw</p>
                    <p class="fs-5">CEO
                    </p>
                  </div>
                </div>
                <div class="card m-5" id="mpm" style="width: 18rem;height:30rem;">
                <a href="">
                  <img src="static/images/mpm.jpg" class="card-img-top" alt="...">
                </a>
                  <div class="card-body">
                    <p class="fw-bold fs-4">Min Phone Myat</p>
                    <p class="fs-5">Head of Engineering</p>
                  </div>
                </div>
                <div class="card m-5 " style="width: 18rem;height:30rem;">
                <a href="">
                  <img src="static/images/finance.jpg" class="card-img-top" alt="...">
                </a>
                  <div class="card-body">
                    <p class="fw-bold fs-4">Nandar Linn Htet</p>
                    <p class="fs-5">External Accountant</p>
                  </div>
                </div>
                 
                
          </div>
      </div>
     
  </div>
</div>


{% endblock %}
</body>
